<div class="bottom-0">
  <p-accordion class="w-full">
    <ng-container *ngFor="let categoria of categorias">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <i class="pi pi-calendar mr-2"></i>
            <span class="vertical-align-middle">{{ categoria.nombre }}</span>
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <div *ngFor="let permiso of categoria.permisos">
            <div class="flex flex-row flex-wrap">
              <span>{{ permiso.label }}</span>
              <app-s-checkbox [(ngModel)]="permiso.value"></app-s-checkbox>
            </div>
          </div>
        </ng-template>
      </p-accordionTab>
    </ng-container>
  </p-accordion>
</div>
