<div class="m-4">
  <h1 class="title bottom-50">Administración de empleados</h1>
  <app-create-employee
    class="top=50"
    [visible]="visibleCreate"
    (changeVisible)="onCreateEmployeeVisibilityChange($event)"
  ></app-create-employee>
  <app-edit-employee
    class="top=50"
    [visible]="visibleEdit"
    [id_employee]="employeeData"
    (changeVisible)="onEditEmployeeVisibilityChange($event)"
  ></app-edit-employee>
  <app-list-favorites-employee
    class="top=50"
    [visible]="visibleListFavorites"
    (changeVisible)="visibleListFavorites = false"
    [data]="employeeFavorites"
    (changeStatusFavorite)="updateEmployee($event)"
  ></app-list-favorites-employee>

  <div class="flex flex-row flex-wrap">
    <app-s-button
      label="Crear Empleado"
      (click)="showDialogCreate()"
    ></app-s-button>
    <app-s-button
      label="Mostrar favoritos"
      (click)="showListFavorites()"
    ></app-s-button>
  </div>
  <app-s-table
    [columns]="columns"
    [data]="employees"
    (editEmployeeData)="openEditView($event)"
    (changeStatusFavorite)="updateEmployee($event)"
  ></app-s-table>
</div>
