<div class="card flex justify-content-center">
  <p-button
    (click)="showDialog()"
    icon="pi pi-external-link"
    label="Seleccionar puesto"
  ></p-button>
  <p-dialog
    header="Seleccione el piso y puesto"
    [(visible)]="visible"
    [style]="{ width: 'auto' }"
  >
    <p-dropdown
      [options]="cities"
      [(ngModel)]="floor"
      optionLabel="name"
      (ngModelChange)="changeFloor($event)"
    ></p-dropdown>

    <div class="h-auto justify-content-center" *ngIf="!showImage">
      <div class="primary-content-image-map flex justify-content-center">
        <img
          [attr.height]="configImage.height || '100%'"
          [src]="configImage.src"
        />
        <ng-container *ngFor="let coordinate of coordinates; index as i">
          <div
            (click)="selectedCoordinate(coordinate, i)"
            [style]="getCoordinateStyle(coordinate)"
            class="item-image-map"
          ></div>
        </ng-container>
      </div>
    </div>
    <h3>Puesto seleccionado: {{ seat_number }}</h3>
  </p-dialog>
</div>
