.s-banner {
  background: linear-gradient(to right, #024424, #47a86b);
  color: #fff;
  padding: 20px;
}

.banner-content {
  align-items: center;
  justify-content: space-between;
}

.text-content {
  flex: 1;
  padding-right: 20px;
}

.banner-image {
  width: 200px;
  height: 100px;
}
