<div class="card">
  <p-table
    #dt1
    [value]="data"
    [paginator]="true"
    [rows]="rowsPerPage"
    [showCurrentPageReport]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [currentPageReportTemplate]="currentPageReportTemplate"
    [rowsPerPageOptions]="rowsPerPageOptions"
    (sortFunction)="onSort($event)"
    [customSort]="true"
    [globalFilterFields]="globalFilterFields"
    [rowsPerPageOptions]="pageSizeOptions"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="filterGlobal(dt1, $event, 'contains')"
            placeholder="Palabra clave de busqueda"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th
          *ngFor="let col of columns"
          [pSortableColumn]="col.isSortable ? col.field : ''"
          [ngStyle]="{ 'text-align': col.field === 'favorite' ? 'center' : '' }"
        >
          <ng-container *ngIf="col.isSortable">
            {{ col.name }}
            <p-sortIcon [field]="col.field"></p-sortIcon>
          </ng-container>
          <ng-container *ngIf="!col.isSortable">
            {{ col.name }}
          </ng-container>
        </th>
        <th *ngIf="showDeleteColumn"></th>
        <th *ngIf="showInactiveColumn"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <ng-container *ngFor="let col of columns">
          <ng-container
            *ngIf="
              !['satisfaction_level', 'view', 'favorite'].includes(col.field)
            "
          >
            <td *ngIf="col.type === 'html'">
              <app-s-dynamic-content-component
                [htmlContent]="col.renderHtml"
              ></app-s-dynamic-content-component>
            </td>
            <td *ngIf="col.type !== 'html'">
              {{ data[col.field] }}
            </td>
          </ng-container>
          <ng-container *ngIf="col.field === 'satisfaction_level'">
            <td>
              <p-rating
                [(ngModel)]="data[col.field]"
                [cancel]="false"
                [readonly]="true"
              ></p-rating>
            </td>
          </ng-container>
          <td style="text-align: center" *ngIf="col.field === 'favorite'">
            <i
              [class]="
                'pi ' + (data.favorite === 2 ? 'pi-bookmark-fill' : 'pi-bookmark')
              "
              [ngStyle]="{ cursor: 'pointer' }"
              (click)="onChangeStatusFavorite(data.id_employee)"
            ></i>
          </td>
          <td *ngIf="col.field === 'view'">
            <app-s-button
              icon="pi pi-id-card"
              (buttonClick)="onEditButtonClick(data.id_employee)"
            ></app-s-button>
          </td>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>
