<p-dialog
  header="Crear Empleado"
  [(visible)]="visible"
  [style]="{ width: '70vw' }"
  [baseZIndex]="10000"
  [modal]="true"
  (onHide)="onDialogHide()"
  [baseZIndex]="10000"
>
  <form [formGroup]="formCreate" (ngSubmit)="createEmployee()">
    <div
      class="flex-column-container"
      [ngClass]="{
        error:
          formCreate.get('full_name')?.invalid &&
          formCreate.get('full_name')?.dirty
      }"
    >
      <label for="full_name">Nombre del colaborador</label>
      <input
        pInputText
        id="username"
        placeholder="Ingresa el nombre del colaborador"
        formControlName="full_name"
      />
      <small
        class="input-error"
        id="username-help"
        *ngIf="
          formCreate.get('full_name')?.invalid &&
          formCreate.get('full_name')?.dirty
        "
      >
        El nombre debe contener solo caracteres tipo texto</small
      >
    </div>

    <div
      class="flex-column-container"
      [ngClass]="{
        error:
          formCreate.get('email')?.invalid && formCreate.get('email')?.dirty
      }"
    >
      <label for="email">Correo electronico</label>
      <input
        pInputText
        pKeyFilter="int"
        placeholder="Ingresa el numero de documento"
        formControlName="email"
      />
      <small
        class="input-error"
        id="username-help"
        *ngIf="
          formCreate.get('email')?.invalid && formCreate.get('email')?.dirty
        "
      >
        Solo se permiten numeros</small
      >
    </div>

    <div class="formgrid grid">
      <div
        class="flex-column-container field col w-full"
        [ngClass]="{
          error:
            formCreate.get('hire_date')?.invalid &&
            formCreate.get('hire_date')?.dirty
        }"
      >
        <label for="hire_date">Fecha de ingreso a la compañia: </label>
        <p-calendar
          placeholder="Seleccione una fecha"
          formControlName="hire_date"
          [showIcon]="true"
          dateFormat="yy-mm-dd"
          dataType="string"
        ></p-calendar>
        <small
          class="input-error"
          id="username-help"
          *ngIf="
            formCreate.get('hire_date')?.invalid &&
            formCreate.get('hire_date')?.dirty
          "
        >
          No has seleccionado una fecha</small
        >
      </div>

      <div
        class="flex-column-container field col w-full"
        [ngClass]="{
          error:
            formCreate.get('name_company')?.invalid &&
            formCreate.get('name_company')?.dirty
        }"
      >
        <label for="name_company">Compañia: </label>
        <p-dropdown
          formControlName="name_company"
          placeholder="Seleccione una categoria"
          [options]="companies"
          optionLabel="name_company"
          optionValue="id_company"
        ></p-dropdown>
        <small
          class="input-error"
          id="username-help"
          *ngIf="
            formCreate.get('name_company')?.invalid &&
            formCreate.get('name_company')?.dirty
          "
        >
          Este campo debe ir lleno</small
        >
      </div>
    </div>

    <div class="formgrid grid">
      <div
        class="flex-column-container field col w-full"
        [ngClass]="{
          error:
            formCreate.get('name_area')?.invalid &&
            formCreate.get('name_area')?.dirty
        }"
      >
        <label for="name_area">Area: </label>
        <p-dropdown
          formControlName="name_area"
          placeholder="Seleccione una categoria"
          [options]="areas"
          optionLabel="name_area"
          optionValue="id_area"
        ></p-dropdown>
        <small
          class="input-error"
          id="username-help"
          *ngIf="
            formCreate.get('name_area')?.invalid &&
            formCreate.get('name_area')?.dirty
          "
        >
          Este campo debe ir lleno</small
        >
      </div>

      <div
        class="flex-column-container field col w-full"
        [ngClass]="{
          error:
            formCreate.get('name_category')?.invalid &&
            formCreate.get('name_category')?.dirty
        }"
      >
        <label for="name_category">Categoria: </label>
        <p-dropdown
          formControlName="name_category"
          placeholder="Seleccione una categoria"
          [options]="categories"
          optionLabel="name_category"
          optionValue="id_category"
        ></p-dropdown>
        <small
          class="input-error"
          id="username-help"
          *ngIf="
            formCreate.get('name_category')?.invalid &&
            formCreate.get('name_category')?.dirty
          "
        >
          Este campo debe ir lleno</small
        >
      </div>
    </div>

    <div class="flex-column-container field col w-full">
      <label for="name_category">Nivel de satisfacción</label>
      <p-rating
        formControlName="satisfaction_level"
        [cancel]="false"
      ></p-rating>
    </div>

    <div class="formgrid grid">
      <app-s-button
        class="btn-create"
        label="Crear Empleado"
        [disabled]="formCreate.invalid"
        (click)="createEmployee()"
      ></app-s-button>
    </div>
  </form>
</p-dialog>
