.btn-support {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(
      99deg,
      rgba(0, 122, 57, 0.783) 0%,
      rgba(1, 148, 84, 0.735) 35%,
      rgba(0, 98, 59, 0.774) 100%
    );
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }